[package]
name = "core"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["rlib", "cdylib"]

[dependencies]
serde = { workspace = true }
serde_json = { workspace = true }
rand = { version = "0.8", features = ["std", "std_rng"] }

